fieldset {
  background-color: #eeeeee;
  border: 1px solid  #6610f2;
}

legend {
  background-color: #6610f2;
  color: white;
  padding: 5px 10px;
}

input {
  border: 1px solid  #6610f2;
  margin: 5px;
}

select {
  border: 1px solid  #6610f2;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #6610f2;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

button {
    background-color: #6610f2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  